{erl_opts, [
            warn_obsolete_guard,
            warn_unused_import,
            warn_shadow_vars,
            warn_export_vars]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam" ,"priv/log/*"]}.
{deps_dir,["deps"]}.
{sub_dirs, ["deps","rel","apps/eqq"]}.
{deps,[
	{gen_server2,".*",{git,"git://github.com/hyperthunk/gen_server2.git","HEAD"}},
	{ibrowse,".*",{git,"git://github.com/cmullaparthi/ibrowse.git","HEAD"}},
    {lager,".*",{git,"git://github.com/basho/lager.git",{branch,"master"}}}
]}.

